:root {
    --bg-color: #252525;
    --primary-color: #3292a6;
    --primary-overlay: rgba(50, 146, 156, 0.7);
}

body {
    margin-top: 90px !important;
}

.borderRadiusZero {
    border-radius: 0 !important;
}

.pointer {
    cursor: pointer;
}

/*-----------common css end-----------*/

.navbar {
    box-shadow: 2px 2px 5px var(--primary-color);
    background: #fff;
    opacity: 0.9;
}

.navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px;
}

.navbar .nav-item:last-child {
    padding-right: 0;
}

.navbar .nav-item .nav-link {
    color: var(--bg-color);
}

.navbar .nav-item .nav-link:hover {
    color: var(--primary-color);
}

#showcase {
    background-image: url(../img/mountains.jpg);
    min-height: 600px;
    position: relative;
}

#showcase .primary-overlay {
    background: var(--primary-overlay);
    min-height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#showcase h1 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#showcase p {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#showcase img {
    height: 80%;
}

#subscribe {
    background: var(--bg-color);
}

#subscribe .btn {
    background: var(--primary-color);
}

#boxes .card {
    border: 2px solid var(--primary-color);
}

#boxes .card_bg {
    background-color: var(--primary-color);
}

#boxes h3 {
    color: var(--primary-color);
}

#boxes .card_bg,
#boxes .card_bg h3 {
    color: #fff;
}

#about .display-4 {
    color: var(--primary-color);
}

#authors h2 {
    color: var(--primary-color);
}

#authors .card:hover {
    background-color: var(--primary-color);
    color: #fff;
}

#authors img {
    margin-top: -60px;
}

#authors .fa-brands {
    font-size: 25px;
    color: var(--primary-color);
}

#authors .card:hover .fa-brands {
    color: #fff;
}